@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/main";
@import "layout/footer";

.main-wrapper {
  background: #ffffff;
  @include font(Poppins, normal, 400, 22px, 24px, #000000);
}

.container {
  width: 0;
  margin: 0 auto;
}
