@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/main";
@import "layout/footer";

.main-wrapper {
  background: #ffffff;
  @include font(Poppins, normal, 400, 22px, 24px, #000000);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
